{%extends "base.html"%}
{%block title%}
Login
{%endblock%}
{%block contenido%}


<h5 class="title-nventa"> Nueva Venta </h5>



<div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#ProveedorModal">Nuevo proveedor</button>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#ArticuloModal" onclick="abrirModal()">Nuevo producto</button>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#ClienteModal">Nuevo cliente</button>

  </div>

 

  <div class="container mt-5">
    <form method="POST" action="{{ url_for('cliente.consultarCliente') }}" class="form-inline">
        {{ form_consultar_cliente.hidden_tag() }}
        {{ form_consultar_cliente.csrf_token }}

        <div class="row">
            <!-- Lado de la Consulta -->
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_consultar_cliente.id_cliente(class="form-control", placeholder="Ingrese el id del cliente") }}
                    <button class="btn btn-primary" type="submit">Consultar cliente</button>
                </div>
            </div>

            <!-- Lado del Resultado -->
            <div class="col-md-6">
                {% if session["cliente"] %}
                    <div class="card">
                        <div class="card-header">
                            Información del Cliente
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <strong>ID:</strong> {{ session["cliente"]["id_Cliente"] }} - 
                                <strong>Nombre:</strong> {{ session["cliente"]["n_cliente"] }} - 
                                <strong>Contacto:</strong> {{ session["cliente"]["tel_cliente"] }} - {{ session["cliente"]["email_cliente"] }}
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="card-header">
                            Consulta un cliente para realizar la venta
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
</div>










<div class="container mt-5">
        <!-- Your normal HTML content here -->
        {% if session["cliente"] %}

            <!--Formulario venta -->
            <!-- Botón y acordeón para nuevo servicio -->
            <!--LISTAR SERVICIIOS AGREGADOS-->
            <h1 class="mb-4">Listado de Servicios</h1>

            <ul class="list-group">
                {% for servicio in servicios %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <strong>Servicio de {{ servicio["n_servicio"] }}</strong>
                            <div class="card">
                                <form method="POST" action="{{ url_for('venta.sessionProducto', k_servicio=servicio["id"]) }}" class="ajax-form">
                                    <div class="row">
                                        <div class="col">
                                            <label for="k_producto" class="form-label">Nombre del Producto</label>
                                            {{ form_new_venta.k_producto(class="form-control", id="k_producto_servicio_" + servicio["id"]|string) }}
                                        </div>
                                        <div class="col ">
                                            <input class="btn btn-primary btn-block" type="submit" value="Agregar Producto">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Valor Total</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in session["items"] %}
                                    {% if item["k_servicio"]|int == servicio["id"]|int %}
                                        <form method="POST" action="{{ url_for('venta.sessionItemQuantity', k_servicio=servicio["id"], k_articulo=item["k_articulo"]) }}" class="ajax-form">
                                            <tr>
                                                {% set articulo = get_articulo_by_id(item["k_articulo"]) %}
                                                <td>
                                                    <div>
                                                        <p class="mb-0">
                                                            ({{ articulo["id"] }}) {{ articulo["n_articulo"] }}
                                                        </p>
                                                        <p class="small text-muted">
                                                            Cantidad: {{ articulo["q_articulo"] }}
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="col-3">
                                                            <input type="number" name="cantidad_nueva_{{ item['k_articulo'] }}" id="cantidad_nueva_{{ item['k_articulo'] }}" class="form-control form-control-sm" value="{{ item['q_item'] }}">
                                                        </div>
                                                        <div class="col-3">
                                                            <input type="submit" class="btn btn-primary btn-sm" value="Actualizar Cantidad">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>{{ item["vu_item"] }}</td>
                                                <td>
                                                    {% set q_item_float = item["q_item"] | float %}
                                                    {% set vu_item_float = item["vu_item"] | float %}
                                                    {% if q_item_float is defined and vu_item_float is defined %}
                                                        {{ q_item_float * vu_item_float }}
                                                    {% else %}
                                                        Valor no definido
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{{ url_for('venta.eliminarItem', k_servicio=servicio["id"], k_articulo=item["k_articulo"]) }}" class="btn btn-danger">Eliminar</a>
                                                </td>
                                            </tr>
                                        </form>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </li>
                {% endfor %}
            </ul>
            
            
            

            <!--AGREGAR SERVICIO -->
            <div class ="card">
                <form method="POST" action="{{url_for('venta.sessionServicio') }}" class="ajax-form">
                    {{ form_new_venta.hidden_tag() }}
                    {{ form_new_venta.csrf_token }}
                
                    <div class="mb-3">
                        <label for="k_servicio" class="form-label">Servicio</label>
                        {{ form_new_venta.k_servicio(class="form-control", id="autocomplete-servicio") }}
                    </div>
                
                    <input class="btn btn-primary" type="submit" value="Registrar">
                </form>
            </div>

            <div class ="card">  
                <form method="POST" action="{{url_for('venta.registroventa', k_cliente=session["cliente"]["id_Cliente"], k_usuario=session["user"].n_usuario) }}" class="ajax-form">
                    {{ form_new_venta.hidden_tag() }}
                    {{ form_new_venta.csrf_token }}
                
                    <input class="btn btn-primary" type="submit" value="Registrar Venta">
                </form>
            </div>

        {% endif %}


    </div>





<!-- Modal -->
<div class="modal fade" id="ProveedorModal" tabindex="-1" aria-labelledby="ProveedorModalLabel" aria-hidden="true">
    <div class="modal-dialog">

      <form method="POST" action="{{url_for('proveedor.nuevoProveedor')}}" class="ajax-form">

      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo proveedor</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{ form_new_proveedor.hidden_tag() }}
        {{ form_new_proveedor.csrf_token }}

        <div class="mb-3">
            {{ form_new_proveedor.n_proveedor.label(class="form-label") }}
            {{ form_new_proveedor.n_proveedor(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form_new_proveedor.dir_proveedor.label(class="form-label") }}
            {{ form_new_proveedor.dir_proveedor(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form_new_proveedor.tel_proveedor.label(class="form-label") }}
            {{ form_new_proveedor.tel_proveedor(class="form-control") }}
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <input class="btn btn-primary" type="submit" value="Guardar">
        </div>
      </form>
      </div>
    </div>
  </div>


  <div class="modal fade" id="ArticuloModal" tabindex="-1" aria-labelledby="ArticuloModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="POST" action="{{ url_for('articulo.nuevoArticulo') }}" class="ajax-form">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo artículo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_new_articulo.hidden_tag() }}
                    {{ form_new_articulo.csrf_token }}

                    <div class="mb-3">
                        {{ form_new_articulo.n_articulo.label(class="form-label") }}
                        {{ form_new_articulo.n_articulo(class="form-control") }}
                    </div>

                    <div class="mb-3">
                        {{ form_new_articulo.desc_articulo.label(class="form-label") }}
                        {{ form_new_articulo.desc_articulo(class="form-control") }}
                    </div>

                    <div class="mb-3">
                        {{ form_new_articulo.v_articulo.label(class="form-label") }}
                        {{ form_new_articulo.v_articulo(class="form-control") }}
                    </div>

                    <div class="mb-3">
                        {{ form_new_articulo.q_articulo.label(class="form-label") }}
                        {{ form_new_articulo.q_articulo(class="form-control") }}
                    </div>

                    <div class="mb-3">
                        {{ form_new_articulo.n_proveedor.label(class="form-label") }}
                        <input class="form-control autocomplete-proveedor" id="autocomplete-proveedor" list="proveedores-list" name="{{ form_new_articulo.n_proveedor.name }}">
                        <datalist id="proveedores-list">
                            {% for proveedor in proveedores %}
                                <option value="{{proveedor.id}} - {{proveedor.n_proveedor}}">
                            {% endfor %}    
                        </datalist>
                    </div>

                    <!-- Campo oculto para almacenar el ID del proveedor -->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <input class="btn btn-primary" type="submit" value="Guardar">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="ClienteModal" tabindex="-1" aria-labelledby="ClienteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="POST" action="{{ url_for('cliente.nuevoCliente') }}" class="ajax-form">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Cliente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_new_cliente.hidden_tag() }}
                    {{ form_new_cliente.csrf_token }}
        
                    <div class="mb-3">
                        {{ form_new_cliente.id_cliente.label(class="form-label") }}
                        {{ form_new_cliente.id_cliente(class="form-control") }}
                    </div>
        
                    <div class="mb-3">
                        {{ form_new_cliente.n_cliente.label(class="form-label") }}
                        {{ form_new_cliente.n_cliente(class="form-control") }}
                    </div>
        
                    <div class="mb-3">
                        {{ form_new_cliente.tel_cliente.label(class="form-label") }}
                        {{ form_new_cliente.tel_cliente(class="form-control") }}
                    </div>
        
                    <div class="mb-3">
                        {{ form_new_cliente.email_cliente.label(class="form-label") }}
                        {{ form_new_cliente.email_cliente(class="form-control") }}
                    </div>
        

        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <input class="btn btn-primary" type="submit" value="Guardar">
                </div>
            </div>
        </form>
        
    </div>
</div>

{% for servicio in servicios %}
<script>
    
    $(function(){
        $.ajax({
            url: '{{ url_for("articulo.JSONArticulos") }}'
        }).done(function(data){
            $('#k_producto_servicio_{{ servicio["id"] }}').autocomplete({        
                source:data,
                minLenght:1
            });
        });
    });
</script>
{%endfor%}

<script>  
    $(function(){       
        $.ajax({
            url: '{{ url_for("proveedor.JSONProveedores") }}'
        }).done(function(data){
            
            $('#autocomplete-proveedor').autocomplete({        
                source:data,
                minLenght:1
                
            });
        });
    });
</script>

<script>
    function abrirModal() {
        $.ajax({
            url: '{{ url_for("proveedor.JSONProveedores") }}'
        }).done(function(data){
            console.log(data)
            $('#autocomplete-proveedor').autocomplete({        
                source: data,
                minLength: 1
            });
        });
    }
</script>

<script>


  $(function() {
      $.ajax({
          
          url: '{{ url_for("servicio.JSONServicios") }}'
      }).done(function (data){
          console.log(data)
          $('#autocomplete-servicio').autocomplete({
              source: data,
              minLength: 2,
              select: function(event, ui) {
                k_servicio = ui.item.label
                //console.log("K_PROVEEDOR ES "+k_proveedor)
                  // Asigna el nombre del proveedor al campo n_proveedor
                  $('#autocomplete-servicio').val(ui.item.label);
              }
          });
      });
  });

  $(function() {
      $.ajax({
          
          url: '{{ url_for("articulo.JSONArticulos") }}'
      }).done(function (data){
          console.log(data)
          $('#autocomplete-articulo').autocomplete({
              source: data,
              minLength: 2,
              select: function(event, ui) {
                k_servicio = ui.item.label
                //console.log("K_PROVEEDOR ES "+k_proveedor)
                  // Asigna el nombre del proveedor al campo n_proveedor
                  $('#autocomplete-articulo').val(ui.item.label);
              }
          });
      });
  });
</script>

<script>
    $(document).ready(function() {
    $('#nuevoServicioAcordeon').collapse();
});
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Obtén la referencia al campo de entrada de proveedores
        var proveedorInput = document.querySelector('.autocomplete-proveedor');

        // Función para cargar dinámicamente las opciones de proveedores
        function cargarOpciones() {
            fetch('{{ url_for("proveedor.JSONProveedores") }}')
                .then(response => response.json())
                .then(data => {
                    // Muestra los datos en la consola para verificar
                    console.log('Datos de proveedores:', data);

                    // Asigna las opciones al campo de entrada
                    proveedorInput.setAttribute('list', 'proveedores-list');
                    var datalist = document.createElement('datalist');
                    datalist.id = 'proveedores-list';

                    data.forEach(function(proveedor) {
                        var option = document.createElement('option');
                        option.value = proveedor;
                        datalist.appendChild(option);
                    });

                    // Añade el datalist al DOM
                    proveedorInput.parentNode.appendChild(datalist);
                })
                .catch(error => console.error('Error al cargar proveedores:', error));
        }

        // Llama a la función para cargar opciones cuando el modal se muestra
        cargarOpciones();
    });
</script>





{%endblock%}







